<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - MPWAR Frameworks</title>
    <link type="text/css" rel="stylesheet" href="css/style.css" />
</head>

<body>
<div id="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>